/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-Apr-2020, 11:38:55 PM
    Author     : samyarab
*/

.menuBar {
   -fx-background-color: ghostwhite; 
   -fx-border-width: 1px;
   -fx-border-style: inset;
   -fx-border-color: gainsboro;   
}

.menuFile:hover {
    -fx-background-color: #ddd;
}

.menuFile:selected {
    -fx-background-color: #ccc;
    
    .menuFileExit:hover {
        -fx-background-color: #ddd;
    }
}


.menuHelp:hover {
    -fx-background-color: #ddd;
}

.menuHelp:selected {
    -fx-background-color: #ccc;
    
    .menuHelpItem:hover {
        -fx-background-color: #ddd;
    }

    .menuHelpItem:selected {
        -fx-background-color: #ccc;
    }
}


.menuSave:hover {
    -fx-background-color: #ddd;
}

.menuSave:selected {
    -fx-background-color: #ccc;
    
    .menuSaveItem:hover {
        -fx-background-color: #ddd;
    }

    .menuSaveItem:selected {
        -fx-background-color: #ccc;
    }
}



.searchTxtBox {
    -fx-padding: 7px;
    -fx-font-size: 13px;
    -fx-text-align: left;
    -fx-border-style: none;
    -fx-border-width: 1px;
    -fx-box-shadow: 2px 2px 7px 0px rgba(42, 42, 42, .33);
    -fx-font-family: sans-serif;
    -fx-border-color: lightgrey;
    -fx-border-radius: 10px;
    -fx-background-color: ghostwhite;
}

.tabPane .tab {
    -fx-background-color: ghostwhite;
    -fx-float: left;
    -fx-border: none;
    -fx-cursor: pointer;
    -fx-padding: 14px, 14px;
}

.tabPane .tab:hover {
    -fx-background-color: #ddd;
}

.tabPane .tab:selected {
    -fx-background-color: #ccc;
    -fx-border: none;
}

.btnClearAll {
    -fx-background-color: lightgrey;
    -fx-border-style: none;
    -fx-padding: 15px 32px;
    -fx-text-alignment: center;
    -fx-display-caret: inline-block;
    -fx-font-size: 15px;
}

.lblScore {
    -fx-background-color: lightgrey;
    -fx-padding: 12px 12px;
    -fx-font-size: 15px;
    -fx-text-alignment: center;
    -fx-display-caret: inline-block;
}




.tooltip {
    
}









/* 
TODO: 

-Menubar design: spacing and size
-Searchbox design: add a button, change the location and add animation if possible
-Add the overlay for the tutorial explaining the functions of the application
-Work on the theme/colors

*/